
.mkdaiq {
    margin-bottom: 15px;
}

.mkdaiq-map {
    width: 100%;
    height: 450px;
}

.mkdaiq-header-filter {
    margin-bottom: 5px;
}

.mkdaiq-header-filter select {
    margin-bottom: 0;
}
.mkdaiq-header-filter {
    float:left;
    width: 100%;
}
.mkdaiq-header-filter.mkdaiq-header-filter-half {
    margin-right: 1%;
    width: 49%;
}
.mkdaiq-header-filter:last-child {
    margin-right: 0;
}
.mkdaiq-header-filter input[type=text], .mkdaiq-header-filter select {
    width: auto;
    height: 30px;
}


.mkdaiq-map .leaflet-popup {
    width: 289px;
}

.mkdaiq-map-head h3 {
    font-size: 18px !important;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}
.mkdaiq-map-head h4 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-top: 0 !important;
}
.mkdaiq-map-expand-results {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}
.mkdaiq-map-expand-results a {
    text-decoration: none !important;
}
.mkdaiq-map-body {
    overflow-y: auto;
    height: 200px;
}
.mkdaiq-icon-col {
    width:50px;
    text-align:center;
}
.mkdaiq-pin {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    border: 1px solid #848484;
}
.mkdaiq-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}
.mkdaiq-color-undefined {
    background-color: #ffffff;
}
.mkdaiq-color-verylow{
     background-color: #5bfd42;
 }
.mkdaiq-color-low {
    background-color: #99cc00;
}
.mkdaiq-color-medium {
    background-color: #fcd827;
}
.mkdaiq-color-high {
    background-color: #efa003;
}
.mkdaiq-color-veryhigh {
    background-color: #e11188;
}

.mkdaiq-table-footer td {
    text-align: center;
}